body{
	background-color: green;
	background-image: url(images/traktor.gif);
	background-repeat: no-repeat;
	background-position: 250px 90px;
	width: 100%;
}
h1{
	font-size: 50px;
	border-bottom:1px solid;
}
#mainNav li {
	font-family:monospace;
	font-weight:bold;
	font-size: 20px;
	text-decoration:underline;
	text-align: center;
	border-radius: 10px 10px 10px 10px;
	border: 3px solid Red;
	
}

#container{
	

	border-bottom:1px solid;
	font-size: 20px;
	color: black;
	
	
	
}